@inject JSUtils Utils

<Bar Breakpoint="Breakpoint.Desktop" Background="Background.Light" ThemeContrast="ThemeContrast.Light">
    <BarBrand>
        Asu
    </BarBrand>
    <BarToggler />
    <BarMenu>
        <BarStart>
            <BarItem>
                <BarLink To="">Inicio</BarLink>
            </BarItem>
            <BarItem>
                <BarLink To="asu">Asu</BarLink>
            </BarItem>
            <BarItem>
                <BarDropdown>
                    <BarDropdownToggle>Carteles</BarDropdownToggle>
                    <BarDropdownMenu>
                        <BarDropdown>
                            <BarDropdownToggle>Movimiento</BarDropdownToggle>
                            <BarDropdownMenu>
                                <BarDropdownItem>
                                    <BarLink To="carteles/copiarMovimiento">Copiar movimiento</BarLink>
                                </BarDropdownItem>
                                <BarDropdownItem>Secuencia de posiciones</BarDropdownItem>
                            </BarDropdownMenu>
                        </BarDropdown>
                        <BarDropdown>
                            <BarDropdownToggle>Aplicar tags</BarDropdownToggle>
                            <BarDropdownMenu>
                                <BarDropdownItem>Aplicar alpha</BarDropdownItem>
                                <BarDropdownItem>Aplicar color</BarDropdownItem>
                            </BarDropdownMenu>
                        </BarDropdown>
                    </BarDropdownMenu>
                </BarDropdown>
            </BarItem>
            <BarItem>
                <BarDropdown>
                    <BarDropdownToggle>Karaokes</BarDropdownToggle>
                    <BarDropdownMenu>
                        <BarDropdownItem>Desplazar tiempos (beta)</BarDropdownItem>
                        <BarDropdownItem>Dividir karaoke</BarDropdownItem>
                        <BarDropdownItem>Dividir sílabas</BarDropdownItem>
                    </BarDropdownMenu>
                </BarDropdown>
            </BarItem>
            <BarItem>
                <BarDropdown>
                    <BarDropdownToggle>Dropdown</BarDropdownToggle>
                    <BarDropdownMenu>
                        <BarDropdownItem>
                            <BarLink To="counter">Counter</BarLink>
                        </BarDropdownItem>
                        <BarDropdownDivider />
                        <BarDropdownItem>
                            <BarLink To="fetchdata">Fetch Data</BarLink>
                        </BarDropdownItem>
                    </BarDropdownMenu>
                </BarDropdown>
            </BarItem>
        </BarStart>
        <BarEnd>
            <BarItem>
                <Button Color="Color.Primary" Clicked="@VisitSyncRajo">
                    SyncRajo Fansub
                </Button>
            </BarItem>
        </BarEnd>
    </BarMenu>
</Bar>

@code {
    private async void VisitSyncRajo()
    {
        var url = "http://www.syncrajo.net";
        await Utils.OpenNewTabAsync(url);
    }
}
